<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>
        <ul>
          <li>Count : {{ counter() }}</li>
          <li>Price : {{ price() }}</li>
        </ul>
      </h2>
    </div>
    <div class="col-6">
      <h2>
        Double Count :
        {{ doubleCounter() }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button (click)="handleIncrease()" class="m-4 btn btn-success">
        Increase count
      </button>
      <button (click)="handleIncreasePrice()" class="m-4 btn btn-success">
        Increase price
      </button>
    </div>
    <div class="col-6">
      <button (click)="handleDecrease()" class="m-4 btn btn-warning">
        Decrease
      </button>
    </div>
  </div>
</div>
