<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>
        <ul>
          <li>Count : {{ counter() | number }}</li>
          <li>Price : {{ price() | number }}</li>
        </ul>
      </h2>
    </div>
    <div class="col-6">
      <h2>
        Double Count :
        {{ doubleCounter() | currency : "CAD" }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button (click)="handleIncrease()" class="m-4 btn btn-success">
        Increase count
      </button>
      <button (click)="handleIncreasePrice()" class="m-4 btn btn-success">
        Increase price
      </button>
    </div>
    <div class="col-6">
      <button (click)="handleDecrease()" class="m-4 btn btn-warning">
        Decrease
      </button>
    </div>
  </div>
</div>
<hr />
<h1>This is defer section</h1>
@defer (on timer(2000)) {
<h2>After 2 seconds</h2>
} @error {
<h2>error happend</h2>
} @loading {
<p>new section is loading</p>
} @placeholder {
<p>new section place holder</p>
}
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@defer (on viewport) {
<p>This loads when it scrolls into view.</p>
} @placeholder {
<p>Scroll to see more...</p>
}
<hr />
<button (click)="show = true">Load More</button>

@defer (when show) {
<p>Now you can see the extra content.</p>
} @placeholder {
<p>Click the button to load content.</p>
}
<hr />
