<div class="row m-4" *ngIf="blogs">
  <div class="col-md-6">
    <div class="row">
      <div class="col-6 p-2" *ngFor="let item of blogs">
        <div class="card p-2">
          <div class="header m-1">
            <h4>
              {{ item.title }}
            </h4>
          </div>
          <div class="body m-1">
            {{ item.brief | shortener : 50 : "*_*" }}
          </div>
          <span class="text-muted m-1">
            {{ item.author }}
          </span>
          <span class="m-1 text-success" *ngIf="item.liked">
            you liked it
          </span>
          <span class="m-1 text-warning" *ngIf="!item.liked">
            you didn't liked it
          </span>
          <div class="footer m-1">
            <button
              [attr.blogid]="item.id"
              (click)="handleBtnClicked($event)"
              class="btn btn-success"
            >
              detalis
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-blog-details
      (isLiked)="handleLikeClickedFromDetails($event)"
      [blogId]="idSelected"
    ></app-blog-details>
  </div>
</div>
<hr />

<br />
<br />
<hr />
<h2>New item</h2>
<app-blog-create (newblog)="addNewBlog($event)"></app-blog-create>
