<div class="row mx-5 my-5 p-3">
  <div class="card">
    <div class="body">
      <form>
        <div class="row form-group">
          <div class="col-6">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                [(ngModel)]="blog.title"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label for="author" class="form-label">Author</label>
              <input
                type="text"
                class="form-control"
                id="author"
                name="author"
                [(ngModel)]="blog.author"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label for="brief" class="form-label">Brief</label>
              <input
                type="text"
                class="form-control"
                id="brief"
                name="brief"
                [(ngModel)]="blog.brief"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <label for="body" class="form-label">Body</label>
              <textarea
                type="text"
                class="form-control"
                id="body"
                name="body"
                [(ngModel)]="blog.body"
              ></textarea>
            </div>
          </div>
        </div>

        <button
          (click)="handleBtn()"
          type="submit"
          class="mb-3 btn btn-primary"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
